img {
  max-height: 300px;
  padding: 5px;
  background: #96c4e8;
  margin: 2px;
  border-radius: 4px;
}
@media (max-width: 400px) {
  img {
    max-width: 47%;
    max-height: auto;
  }
}

.file-container {
	//display: block;
	overflow: hidden;
	position: relative;
	text-align: center;

	input[type="file"] {
		cursor: pointer;
		display: block;
		font-size: 99px;
		filter: alpha(opacity=0);
		opacity: 0;
		min-height: 100%;
		min-width: 100%;
		position: absolute;
		right: 0;
		top: 0;
		text-align: right;
	}
}