uploaded-images

img(
    ng-repeat="img in images track by img._id",
    ng-src="{{ url(img) }}"
    ng-click="images.remove(img)"
    )
//-pre( ng-repeat="img in images track by img._id")
    | {{ img | keys }}

pre(ng-controller="app.appController") {{ 'hello' | fil1 }} - {{ test() }}

booger(a1="1", a2="42")
    | image count = {{ images.length }}
