uploaded-images

img(
    ng-repeat="img in images track by img._id",
    ng-src="{{ url(img) }}"
    ng-click="images.remove(img)"
    )
//-pre( ng-repeat="img in images track by img._id")
    | {{ img | keys }}

pre(ng-controller="client/app.appCtrl") {{ 'hello' | fil1 }} - {{ test() | fil2 }}

booger(a1="1", a2="42")
    | image count = {{ images.length }}

//pb-dir(abc="123", ng-init="a=55")
    | hmmmm

another-booger(abc="321")
    p Hey, this is fun {{ box }}

hr
paul-special(xxx="box")
    p paul-special: {{ box }}

hr
paul-special2(yyy="testing...", xxx="box")
    p paul-special2: {{ box }}

