head
    title Upload
    base(href="/")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="utf-8")

body
    div.container(ng-app="app", ng-controller="appAppController")

        h3 Input[type=file] upload with Angular and Meteor

        p
            button.btn.btn-primary(ng-click="takePhoto()") Take a Photo with the Camera

        pre(ng-bind="appAppController.test | json")

        p
            span.btn.btn-success.file-container
                input(
                    type="file",
                    file-change="upload($event)",
                    )
                | Select an image to Upload

        hr

        div(ng-include="'client/test.html'")
